<footer class="site-footer">

  <div class="wrapper">

    <!--
    <h2 class="footer-heading">{{ site.title }}</h2>
    -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Pwnny's Email</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<!--Javascript-->
<script src="{{ "/javascripts/jquery-2.1.1.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/javascripts/jquery.wanker.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		//wanker
			$(function() {
			  // Customize the delay or duration defined in milliseconds
			  $('[data-wanker]').wanker({delay:2000,duration:680});
			});
			
		//console.log信息
		console.group("彩蛋.bar");
		console.log("%c这个网站有彩蛋！！","font-size:25px;color:red;");
		console.info('你对自适应感兴趣就能发现');
		console.warn('呵呵，我只能提示到这了');
		console.error('你能发现说明咱有缘分');
		console.groupEnd();
</script>