<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Pwnny's Email</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          <li>
            <a href="https://www.upyun.com/index.html" target="_blank"><img src="http://pwnny.cn/assets/images/logo/upyun_logo.png" alt="upyun"></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}<a href="http://www.miitbeian.gov.cn" target="_blank">新ICP备 16002089</a></p>
      </div>

    </div>
  </div>
</footer>

<!--Javascript-->
<script src="{{ "/javascripts/jquery-2.1.1.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //loading bar
    $({property: 0}).animate({property: 100},{
				duration: 1750,
				step: function(){
					var percentage = Math.round(this.property);
					$("#progress").css("width", percentage+"%");
					if(percentage == 100){
						$("#progress").addClass("done");
					}
				}
			});	
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    var duoshuoQuery = {short_name:"pwnnyblog"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    <!-- 多说公共JS代码 end -->
		//console.log信息
		console.group("Pwnny.bar");
    console.log("%c如果你觉得我的网站对你有帮助，请把它推荐给更多的人吧","font-size:18px;font-family:Microsoft YaHei;color:#6FBCBD;");
    console.log("%cIf you think of my site to help you, please recommend it to more people","font-size:18px;font-family:Microsoft YaHei;color:#6FBCBD;");
</script>