/**
 * Site header
 */
.site-header {
    min-height: 160px;
    background-color: $green-color;
    background-image:linear-gradient(120deg, $green-color, $blue-color);
    background-image:-webkit-linear-gradient(120deg, $green-color, $blue-color);
    background-image:-moz-linear-gradient(120deg, $green-color, $blue-color);
    background-image:-o-linear-gradient(120deg, $green-color, $blue-color);
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 160px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: rgba(255, 255, 255, 0.7);
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        text-align: right;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: rgba(255, 255, 255, 0.7);
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.post-li{
    border: 1px solid $grey-color-light;
    border-radius: 10px;
    padding: 0.8rem;
    -o-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -webkit-transition: 0.15s ease;
    transition: 0.15s ease;
}
.post-li:hover{
    border-color: $grey-color-light-mini;
}

.post-li p{
    color: #828282;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    color: $grey-color-light-heading;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-size: 24px;
    color: $green-color;

    &:hover,&:visited {
        text-decoration: none;
        color: $green-color-dark;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*----------自定义------------*/
/*wanker*/
.wanker {
  /* Full-screen takeover… */
  background: #000;
  color: $background-color;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2014;
}
.wanker-content {
	margin: 10em auto;
	text-align: center;
}
#emoji{
	width: 50%;
	margin: 0 auto;
}
.emoji-left{
	position: absolute;
	left: 40%;
}
.emoji-right{
	position: absolute;
	right: 40%;
}
/*loading bar*/
#progress{
	position: fixed;
    z-index: 9999;
	height: 2.5px;
    @include box-shadow-compatibility(0,1px,10px,1px,rgba(255, 255, 255, 0.25));
	background: #fff;
    @include transition-compatibility(opacity,600ms,linear,0);
}
#progress.done{
	opacity: 0;
}
@-o-keyframes pulse{
	0%{width:0;}
	100%{width: 100%;}
}
@-moz-keyframes pulse{
	0%{width:0;}
	100%{width: 100%;}
}
@-webkit-keyframes pulse{
	0%{width:0;}
	100%{width: 100%;}
}
@keyframes pulse{
	0%{width:0;}
	100%{width: 100%;}
}
#progress{
    @include animation-compatibility(pulse,1.75s,ease,0,1,normal);
}

#recordDomain a{
    margin: 0 auto;
}
