<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!--wanker页面-->
    <div class="wanker" data-wanker>
		  <div class="wanker-content">
		    <h1>网站是用来看的  不要拿手挤来挤去</h1>
		    <h1>Can I help you.</h1>
		    <div id="emoji">
			    <img class="emoji-left" src="http://pwnny.cn/assets/images/wanker/1f449.png" alt="👉"/>
			    <img class="emoji-right" src="http://pwnny.cn/assets/images/wanker/1f44c.png" alt="👌"/>
		    </div>
		  </div>
		</div>

  </body>

</html>
